[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
aiohttp = "*"
pyyaml = "*"
motor = "*"
redis = "*"
aiopg = "*"

[requires]
python_version = "3.6"
